
* {box-sizing: border-box;}

.header {
    font-family: Open sans;
    border: #004175 ;
    background-color: #004175 ;
    color: white;
    width: 100%;
    text-align: left;
    height: 60px;
    padding: 20px;
    border-bottom: 3px solid #89DEEF;
}

.Oswald-font {
    font-family: Oswald;
}

h2 {
    font-size: 30px;
}
a {
    color: white;
}

.adoption {
    background-color: #64c6d9;
    font-size: 20px;
}

img {
    width: 400px;
    height: auto;
}

.name {
    font-weight: bold;
    padding-left: 3px;
}

.dog-container {
  display:flex;
  flex-wrap: wrap;
  margin: 2px;
}

.dog-card {
    border: 2px solid blue;
    display:flex;
    width: 400px;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 2px;
}

.traits {
    display:flex;
    flex-wrap:wrap;
    list-style-type: none;
}

li {
    padding: 2px;
    background-color: #89DEEF;
    margin: 2px;
    border-radius: 10px;
    border: 2px solid black;
}

.footer {
    display:flex;
}

.bottom {
    display:flex;
    flex: 1 1 auto;
    font-size: 50px;
    width: 400px;
    height: 400px;
    background-size: cover;
    color: white;
    justify-content: center;
    align-items: center;
    opacity: .7;
    background-blend-mode: multiply;
    background-color: #A6A9F0;
    margin: 3px;
}

.donate {
    display: flex;
    background-image: url("starter_files/images/donate.jpg");
}

.donate:hover {
    transition: all .5s ease-in-out;
    transform: scale(1.05);
}

.volunteer {
    display: flex;
    background-image: url("starter_files/images/volunteer.jpg");
    border: 1px solid black;
}

.volunteer:hover {
    transition: all .5s ease-in-out;
    transform: scale(1.05);
}

.location:hover{
    transition: all .5s ease-in-out;
    transform: scale(1.05);
}

.location {
    display: flex;
    background-image: url(starter_files/images/location.png);
    border: 1px solid black;
}